.mainContainer {
  max-width: 1000px;
  margin: auto;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.emptyMessage {
  width: 100%;
  text-align: center;
  padding: 100px;
  margin-bottom: 20px;
  border: 1px solid gray;
}
