.mainContainer {
  padding: 4%;
  margin: auto;
  background-color: var(--bg-color-2);
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.emptyMessage {
  width: 100%;
  text-align: center;
  padding: 100px;
  margin-bottom: 20px;
  border: 1px solid gray;
}
